@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: '@Url.Action("Index","Locations")',
            success: function (result) {

                $('#locationPartial').html(result);

            }
        });
    });
</script>


@model IEnumerable<YelpMvp.Models.Cuisine>

<h2>Cuisines</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var listCuisine in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => listCuisine.Name)
    </li>

    }
</ul>
<div id="create-location-result"></div>
<div id="locationPartial"></div>
<p>@Html.ActionLink("Add a new cuisine", "Create")</p>