@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model YelpMvp.Models.Location

<h4>Add a new location</h4>
<form action="/locations/create" method="post" id="new-location">
    <label for="City">City</label><input id="City" name="City" type="text" value="">
    <label for="State">State</label><input id="State" name="State" type="text" value="">
   <input type="submit" value="Add New">
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8A6nvVOjBLFJtIw_p-gjtfoYFzJDpNz5itA5-VaFsnX1GTWtax1vG7kghlUqnAmZIwtYKRQ9HDin6b_l2hJjATxEs9uJlV4p4Fou5DEziumP4kTpXiT9SM3S2uh0mF_LWC3A5byIyJ-OAh-xr1mPmsg">
</form>


<p>@Html.ActionLink("Back to list", "Index")</p>